Thumbs.db
.DS_Store
.gradle
*.*drawio.bkp
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
**/.terraform
**/.terraform.tfstate.lock*
**/.vscode
**/build
**/bin
doc/*.bkp
